@use '../../style/base'
@use '../../style/layout'
@use '../../style/responsive.sass' as respond
.stats
    @include layout.section-padding($fx-direction: row)
    align-items: center
    background: base.$gray-050

    &__list
        width: 34rem
        @extend %fxrow
        flex-wrap: wrap
        gap: base.$unit-2x

    &__text-container
        @extend %fxcol
        gap: base.$unit-1x

    @include respond.respond(md)
        flex-direction: column
        &>*>*
            width: 100%
